/* Temporary presentation-specific stuff */
.on-1-3 {
    animation: on-1-3 3s infinite;
}
.on-1-2 {
    animation: on-1-2 2s infinite;
}

@keyframes on-1-2 {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes on-1-3 {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    34% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
