.slidekit-cockpit {
    display: grid;
    grid-gap: 1rem 1rem;
    margin: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slidekit-cockpit-slides {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em 1em;
    overflow: hidden;
}

.slidekit-cockpit-current-wrapper {
    --aspect-ratio: 1.778;
    aspect-ratio: 1.778;
    overflow: hidden;
    position: relative;
}

.slidekit-cockpit-next-wrapper {
    --aspect-ratio: 1.778;
    aspect-ratio: 1.778;
    overflow: hidden;
    position: relative;
    transition: opacity ease-in-out 0.1s;
}

.slidekit-cockpit-notes {
    background-color: white;
    grid-column: 1 / 4;
    padding: 1rem;
    grid-row: 1;
    overflow: auto;
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    font-family: "Helvetica Neue", sans-serif;
}

.slidekit-cockpit-notes strong {
    color: #000;
}

.slidekit-cockpit-notes p:first-child {
    margin-top: 0;
}

.slidekit-cockpit-progress-bar {
    grid-row: 4;
    grid-column: 1 / 4;
    line-height: 2em;
    background-color: white;
}

.slidekit-cockpit-progress-bar-bar {
    background-color: #bada55;
    height: 1.6em;
    line-height: 1.6em;
    margin: 0.2em 0;
}

.slidekit-cockpit-progress-bar-bar:before {
    content: "x";
    opacity: 0;
    display: inline;
}

.slidekit-cockpit-stage {
    grid-row: 3;
    grid-column: 3;
    align-self: end;
    justify-self: end;
    background-color: white;
    padding: 0.6em;
    cursor: pointer;
    user-select: none;
}

.slidekit-cockpit-stage:active {
    background-color: #eee;
}

.slidekit-main-window-invisible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.5em;
    text-align: center;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}

@media (prefers-color-scheme: dark) {
    .slidekit-cockpit-stage {
        background-color: rgb(68, 68, 68);
        color: #ddd;
    }
    .slidekit-cockpit-stage:active {
        background-color: rgb(58, 58, 58);
    }
    .slidekit-cockpit-progress-bar {
        background-color: rgb(68, 68, 68);
        color: #ddd;
    }
    .slidekit-cockpit-notes {
        background-color: rgb(68, 68, 68);
        color: #ddd;
    }
    .slidekit-cockpit-notes strong {
        color: #fff;
    }
}
