.slidekit-main-screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

svg {
    background-color: white;
}

.slidekit-blacked-out {
    background-color: black;
    transition: background-color 0.4s;
}

.slidekit-blacked-out-white {
    background-color: white;
    transition: background-color 0.4s;
}

.slidekit-blacked-out > *,
.slidekit-blacked-out-white > * {
    transition: opacity 0.4s;
    opacity: 0;
}

.slidekit-slide-number {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    text-align: right;
    font-size: 16pt;
    opacity: 0.25;
}

.slidekit-canvas tspan {
    white-space: pre;
}

[animation="stroke-dashoffset"] {
    animation: dash 60s linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 10000;
    }
}

.slidekit-canvas svg {
    position: absolute;
    left: 0;
    top: 0;
}

.slidekit-print-section {
    display: none;
}

.slidekit-print-section-slide {
    page-break-before: always;
    overflow: hidden;
    background-color: white;
    line-height: 0;
    border: 0;
    display: block;
    margin: 0; padding: 0;
}

.slidekit-main-screen {
    display: block;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .slidekit-main-screen {
        display: none;
    }
    .slidekit-print-section {
        display: block;
    }

}
