.slides-main-screen {
    display: block;
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -360px;
    margin-left: -640px;
    overflow: hidden;
}

.slides-blacked-out {
    background-color: black;
    transition: background-color 0.4s;
}

.slides-blacked-out-white {
    background-color: white;
    transition: background-color 0.4s;
}

.slides-blacked-out > *,
.slides-blacked-out-white > * {
    transition: opacity 0.4s;
    opacity: 0;
}

.slides-slide-number {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    text-align: right;
    font-size: 16pt;
    opacity: 0.25;
}

.slides-canvas tspan {
    white-space: pre;
}

[animation="stroke-dashoffset"] {
    animation: dash 60s linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 10000;
    }
}

.slides-canvas svg {
    position: absolute;
    left: 0;
    top: 0;
}

@media print {
    @page { 
        margin: 0; 
        size: 1280px 720px;
    }
    .slides-main-screen {
        display: none;
    }
}
