body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    overflow: hidden;
    font-family: sans-serif;
}

#canvas-wrapper {
    display: block;
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -360px;
    margin-left: -640px;
}

#canvas {
    width: 1280px;
    height: 720px;
    transform: scale(1);
    transform-origin: 0 0;
}

.blacked-out {
    background-color: black;
    transition: background-color .4s;
}

.blacked-out>* {
    transition: opacity .4s;
    opacity: 0;
}

[animation=stroke-dashoffset] {    
    animation: dash 60s linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 10000;
    }
}

#slide-number {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em;
    text-align:right;
    font-size: 16pt;
    opacity: 0.25;
}

tspan {
    white-space: pre;
}
